
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
}

h1 {
  color: #41463D;
  font-weight: 300;
  font-size: 4rem;
}

input,
textarea {
  outline: none;
  resize: none;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 2rem auto;
  justify-content: center;
  max-width: 1000px;
}

.app-header__title {
  margin: 10px 20px 0px;
  font-family: 'Roboto', sans-serif;
}

.app-header__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 10px;
}

.search,
.add-new {
  font-size: 1.2rem;
  padding: 5px;
  margin: 8px;
  font-weight: 500;
}

.search {
  flex-grow: 1;
  width: 300px;
  margin-bottom: 2rem;
}

.add-new {
  cursor: pointer;
  padding: 15px 25px;
  background-color: #45062E;
  border: none;
  color: #fff;
  transition: background-color .2s ease-in;
}

.add-new:hover {
  background-color: #41463D;
}

.note {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #ffff86;
  box-shadow: 1px 1px 5px 1px lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__description {
  font-family: "Roboto", cursive;
  width: 100%;
  padding: 8px 14px;
  background: transparent;
  border: none;
}

.note__title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.note__description {
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
  background-color: #ffffe0;
  padding-top: .5rem;
}

.note__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: lightgrey;
  padding: 5px;
}

.note__delete:hover {
  color: black;
  cursor: pointer;
}

footer {
  width: 100%;
  padding: 0.5rem 0;
  background: #404ea00f;
  font-family: Roboto, sans-serif;
}

footer p, footer small {
  text-align: center;
}

footer a {
  color: #39457b;
  text-decoration: none;
  font-weight: 500;
}

footer .fa-terminal{
  animation: terminal-animate 1.5s infinite;
}

@keyframes terminal-animate {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
